@keyframes slideIn {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes wiggle {
	0% {
		opacity: 0;
		transform: rotate(0deg);
	}
	20% {
		opacity: 1;
	}
	50% {
		transform: rotate(2deg);
	}
	75% {
		transform: rotate(-2deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
