@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.catalog {
	padding-top: 50px;

	&__title {
		margin-top: 60px;
	}

	&__tabs {
		display: flex;
		column-gap: 50px;
		row-gap: 13px;
		flex-wrap: wrap;
		margin-top: 60px;
		border: 1px solid $dark;
		padding: 13px 35px;
	}

	&__tab {
		position: relative;
		border: none;
		background: none;
		padding: 0;
		color: rgba(0, 0, 0, 1);
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0%;
		text-align: left;
		text-transform: uppercase;
		cursor: pointer;

		&_active::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: #000;
			bottom: -1px;
		}
	}

	&__content {
		margin-top: 60px;

		&-item {
			flex-wrap: wrap;
			gap: 20px;
		}
	}

	&__card {
		box-sizing: border-box;
		border: 1px solid $dark;
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
		background: $light;

		&-img {
			height: 198px;
			width: 100%;
			object-fit: cover;
		}

		&-info {
			margin: 12px;
			color: rgba(0, 0, 0, 1);
			font-size: 16px;
			font-weight: 500;
			line-height: 19px;
			letter-spacing: 0%;
			text-align: left;
			border-top: none;
		}

		&-price {
			padding-top: 8px;
			padding-bottom: 5px;
		}
	}
}

@media screen and (min-width: 768px) {
	.catalog {
		&__tabs {
			width: fit-content;
		}

		&__card {
			position: relative;
			width: 340px;
			min-height: 275px;

			&-item {
				align-items: flex-start;
			}
		}

		&__content {
			&-item {
				position: relative;
				padding: 10px 10px 0 10px;
				@include frame_corner;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.catalog {
		&__content {
			&-item {
				padding: 25px 25px 0 25px;
				gap: 35px;
			}
		}
	}
}

@media screen and (min-width: 1920px) {
	.catalog {
		&__content {
			&-item {
				row-gap: 25px;
				column-gap: 83px;
			}
		}

		&__card {
			position: relative;
			width: 285px;
			min-height: 275px;

			&-img {
				height: 180px;
			}
		}
	}
}