@use "/src/sass/base/variables.scss" as *;

.touch {
	padding-top: 60px;

	.just-validate-error-field {
		border: none;
		outline: 1px solid $ui-error;
	}

	&__wrapper {
		margin-top: 60px;
	}

	&__img {
		display: none;
	}

	&__fieldset {
		border: none;
		margin: 0;
		padding: 0;
	}

	&__label {
		display: block;
		color: $dark;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;

		&:nth-child(2) {
			margin-top: 8px;
		}
	}

	&__input {
		width: 100%;
		height: 48px;
		padding: 10px 15px;
		color: $dark;
		border: 1px solid rgba(226, 225, 229, 1);
		border-radius: 2px;
		background: rgba(255, 255, 255, 1);

		&:focus {
			border: none;
			outline: 1px solid $dark;
		}

		&::placeholder {
			color: $ui-disabled;
			font-size: 14px;
			font-weight: 400;
		}
	}

	&__textarea {
		width: 100%;
		height: 132px;
		padding: 10px 15px;
		color: $dark;
		border: 1px solid rgba(226, 225, 229, 1);
		border-radius: 2px;
		background: rgba(255, 255, 255, 1);
		resize: none;

		&:focus {
			border: none;
			outline: 1px solid $dark;
		}

		&::placeholder {
			color: $ui-disabled;
			font-size: 14px;
			font-weight: 400;
		}
	}

	&__check-block {
		display: flex;
		align-items: center;
		cursor: pointer;
		margin-top: 20px;

		a {
			color: rgba(162, 45, 198, 1);
			text-decoration: none;
			margin-left: 2px;
		}
	}

	&__checkbox {
		margin-right: 15px;
		height: 15px;
		width: 15px;
		appearance: none;
		border: 1px solid $dark;
		border-radius: 3px;
		background-color: transparent;
		flex-shrink: 0;
		transition: all 0.2s ease;

		&:checked {
			background-color: $dark;
			border-color: $dark;

			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
			background-position: center;
			background-repeat: no-repeat;
			background-size: 120%; // Розмір самої галочки всередині квадрата
		}

		&:focus {
			outline: none;
		}
	}

	&__btn {
		margin-top: 20px;
	}

	&__vase {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.touch {
		.container {
			position: relative;
		}

		&__form {
			width: 300px;
			padding-left: 24px;
		}

		&__vase {
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}

@media screen and (min-width: 1200px) {
	.touch {
		&__img {
			display: block;
			width: 550px;
			height: 342px;
			object-fit: cover;
			box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
		}

		&__input {
			&:hover {
				border: none;
				outline: 1px solid $dark;
			}
		}

		&__form {
			padding-left: 20px;
		}

		&__vase {
			animation: wiggle 3s ease-in-out infinite;
			animation-delay: 1s;
			opacity: 0;
			animation-fill-mode: forwards;
		}
	}
}

@media screen and (min-width: 1920px) {
	.touch {
		padding-top: 100px;

		&__img {
			width: 100%;
			height: 356px;
		}

		&__form {
			width: auto;
			padding-left: 143px;
		}

		&__fieldset {
			display: flex;
			column-gap: 45px;
		}

		&__label,
		&__check-block,
		&__input,
		&__textarea {
			width: 300px;
		}

		&__vase {
			right: 75px;
		}
	}
}
